<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Trace"
      internalLogFile="${currentdir}/Utilities/Logging/Logfiles/Internal/internallog.txt"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd ">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <variable name="logFilePath" value="${currentdir}/Utilities/Logging/Logfiles/${shortdate}_logfile.txt"/>

    <targets>
        <target name="logfile" xsi:type="File"
                fileName="${logFilePath}"
                layout="${longdate}|${level:uppercase=true}|user:${aspnet-user-identity}|${message}|${exception:format=tostring}|${callsite}"/>
    </targets>

    <rules>
        <logger name="Microsoft.*" maxlevel="Info" final="true"/>
        <logger name="*" minlevel="Info" writeTo="logfile"/>
    </rules>
</nlog>