.about {
  width: 100%; }
  .about .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em; }
  .about .label {
    text-align: center;
    font-weight: normal; }
  .about .text {
    width: 100%;
    text-align: center; }
