/* COLORS */
/* BREAKPOINTS */
/* MAIN */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  overflow: hidden; }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

.scrollable {
  max-width: 100%;
  overflow-x: auto; }

a {
  color: rgba(0, 0, 0, 0.54); }
  a:hover {
    color: #111111; }

.bold {
  font-weight: bold; }

.normal {
  font-weight: normal; }

.text-center {
  text-align: center; }

.text-transform-none {
  text-transform: none !important; }

.border-grey {
  border: 1px solid rgba(0, 0, 0, 0.54); }

.border-radius {
  border-radius: 1em; }

.width-full {
  width: 100%; }

.width-max-full {
  max-width: 100%; }

.hidden {
  display: none; }

.big-desktop-only {
  display: none !important; }

.not-big-desktop-only {
  display: block !important; }

@media (min-width: 1000px) {
  .big-desktop-only {
    display: block !important; }
  .not-big-desktop-only {
    display: none !important; } }

/* COLORS */
.color-green {
  color: #2ecc40 !important; }

.color-red {
  color: #ff4136 !important; }

/* ICONS */
.flag-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px; }
  .flag-icon > span {
    cursor: pointer !important;
    height: 32px !important;
    width: 32px !important; }
    .flag-icon > span:hover {
      height: 32px !important;
      width: 32px !important; }
  .flag-icon.big {
    height: 100px;
    width: 100px; }
    .flag-icon.big > span {
      cursor: pointer !important;
      height: 80px !important;
      width: 80px !important; }
      .flag-icon.big > span:hover {
        height: 80px !important;
        width: 80px !important; }
  .flag-icon.with-hover > span:hover {
    height: 36px !important;
    width: 36px !important; }
  .flag-icon.with-hover.big > span:hover {
    height: 100px !important;
    width: 100px !important; }

/* LINEAR PROGRESS */
.linear-progress.above90 > div {
  background-color: #2ecc40; }

.linear-progress.above70 > div {
  background-color: #FFDC00; }

.linear-progress.above50 > div {
  background-color: #FF851B; }

.linear-progress.below50 > div {
  background-color: #ff4136; }

/* FORM */
.form {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .form-small {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; }

/* BASIC */
.flex {
  display: flex; }
  .flex-row {
    width: 100%;
    display: flex; }
    .flex-row-centered {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .flex-row-space-between {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .flex-row-end {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
  .flex-centered {
    display: flex;
    align-items: center;
    justify-content: center; }
  .flex-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .flex-col {
    display: flex;
    flex-direction: column; }
    .flex-col-centered {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
  .flex-wrap {
    flex-wrap: wrap; }

.margin {
  margin: 1em !important; }
  .margin-small {
    margin: 0.5em !important; }
  .margin-big {
    margin: 2em !important; }
  .margin-top {
    margin-top: 1em !important; }
    .margin-top-small {
      margin-top: 0.5em !important; }
      .margin-top-small-only {
        margin: 0.5em 0 0 0 !important; }
    .margin-top-big {
      margin-top: 2em !important; }
      .margin-top-big-only {
        margin: 2em 0 0 0 !important; }
    .margin-top-only {
      margin: 1em 0 0 0 !important; }
  .margin-right {
    margin-right: 1em !important; }
    .margin-right-small {
      margin-right: 0.5em !important; }
      .margin-right-small-only {
        margin: 0 0.5em 0 0 !important; }
    .margin-right-big {
      margin-right: 2em !important; }
      .margin-right-big-only {
        margin: 0 2em 0 0 !important; }
    .margin-right-only {
      margin: 0 1em 0 0 !important; }
  .margin-bottom {
    margin-bottom: 1em !important; }
    .margin-bottom-very-small {
      margin-bottom: 0.25em !important; }
    .margin-bottom-small {
      margin-bottom: 0.5em !important; }
      .margin-bottom-small-only {
        margin: 0 0 0.5em 0 !important; }
    .margin-bottom-big {
      margin-bottom: 2em !important; }
      .margin-bottom-big-only {
        margin: 0 0 2em 0 !important; }
    .margin-bottom-only {
      margin: 0 0 1em 0 !important; }
  .margin-left {
    margin-left: 1em !important; }
    .margin-left-small {
      margin-left: 0.5em !important; }
      .margin-left-small-only {
        margin: 0 0 0 0.5em !important; }
    .margin-left-big {
      margin-left: 2em !important; }
      .margin-left-big-only {
        margin: 0 0 0 2em !important; }
    .margin-left-only {
      margin: 0 0 0 1em !important; }
  .margin-none {
    margin: 0 !important; }

.padding {
  padding: 1em !important; }
  .padding-small {
    padding: 0.5em !important; }
  .padding-big {
    padding: 2em !important; }
  .padding-top {
    padding-top: 1em !important; }
    .padding-top-small {
      padding-top: 0.5em !important; }
      .padding-top-small-only {
        padding: 0.5em 0 0 0 !important; }
    .padding-top-big {
      padding-top: 2em !important; }
      .padding-top-big-only {
        padding: 2em 0 0 0 !important; }
    .padding-top-only {
      padding: 1em 0 0 0 !important; }
  .padding-right {
    padding-right: 1em !important; }
    .padding-right-small {
      padding-right: 0.5em !important; }
      .padding-right-small-only {
        padding: 0 0.5em 0 0 !important; }
    .padding-right-big {
      padding-right: 2em !important; }
      .padding-right-big-only {
        padding: 0 2em 0 0 !important; }
    .padding-right-only {
      padding: 0 1em 0 0 !important; }
  .padding-bottom {
    padding-bottom: 1em !important; }
    .padding-bottom-small {
      padding-bottom: 0.5em !important; }
      .padding-bottom-small-only {
        padding: 0 0 0.5em 0 !important; }
    .padding-bottom-big {
      padding-bottom: 2em !important; }
      .padding-bottom-big-only {
        padding: 0 0 2em 0 !important; }
    .padding-bottom-only {
      padding: 0 0 1em 0 !important; }
  .padding-left {
    padding-left: 1em !important; }
    .padding-left-small {
      padding-left: 0.5em !important; }
      .padding-left-small-only {
        padding: 0 0 0 0.5em !important; }
    .padding-left-big {
      padding-left: 2em !important; }
      .padding-left-big-only {
        padding: 0 0 0 2em !important; }
    .padding-left-only {
      padding: 0 0 0 1em !important; }
  .padding-none {
    padding: 0 !important; }

/* COMPONENTS */
.appbar .title {
  margin-left: 1em;
  display: none; }

.drawer-header {
  height: 56px;
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  cursor: pointer; }
  .drawer-header * {
    color: #0074d9 !important; }

.drawer-list {
  width: 250px; }

.page-wrapper {
  margin-top: 64px;
  height: calc(100vh - 64px);
  min-height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  overflow-y: auto; }
  .page-wrapper-inner {
    width: 1400px;
    max-width: calc(100% - 2em);
    margin: 0 auto;
    padding: 1em; }
  .page-wrapper h1,
  .page-wrapper h2,
  .page-wrapper h3,
  .page-wrapper h4,
  .page-wrapper h5,
  .page-wrapper h6,
  .page-wrapper p {
    margin-top: 0;
    color: rgba(0, 0, 0, 0.54); }
  .page-wrapper h1 {
    font-size: 1.5em; }

@media (min-width: 400px) {
  .appbar .title {
    display: block; } }

@media (min-width: 600px) {
  .page-wrapper-inner {
    padding: 2em;
    max-width: calc(100% - 4em); }
  .page-wrapper h1 {
    font-size: 2em; } }

@media (min-width: 1000px) {
  .appbar .title {
    margin: 0; } }

.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); }

.modal-content {
  max-width: 90vw;
  max-height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto !important; }

.modal-languages {
  min-height: calc(300px + 2em);
  min-width: 200px;
  background: rgba(0, 0, 0, 0.075); }

.upload-file {
  min-width: 70vw;
  min-height: 70vh; }
  .upload-file .button-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(100% - 2em);
    padding: 1em; }

.drop-zone {
  width: calc(70vw - 6em);
  height: calc(70vh - 6em);
  min-width: calc(70vw - 6em);
  min-height: calc(70vh - 6em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  border: 2px dashed rgba(0, 0, 0, 0.54);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.075); }
  .drop-zone.drop-zone-active {
    background-color: #ffffff; }
  .drop-zone .icon {
    font-size: 3em !important;
    color: rgba(0, 0, 0, 0.54); }
  .drop-zone .label {
    margin: 0;
    margin-top: 0.5em;
    text-align: center;
    color: rgba(0, 0, 0, 0.54);
    display: none; }
  @media (min-width: 300px) {
    .drop-zone .icon {
      font-size: 5em !important; } }
  @media (min-width: 400px) {
    .drop-zone .label {
      display: block; } }
  @media (min-width: 500px) {
    .drop-zone .icon {
      font-size: 8em !important; } }

/* MODULES */
.about {
  width: 100%; }
  .about .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em; }
  .about .label {
    text-align: center;
    font-weight: normal; }
  .about .text {
    width: 100%;
    text-align: center; }

.question {
  width: 100%; }
  .question .input {
    width: 2.3em;
    max-width: 2.3em; }
    .question .input input {
      padding-bottom: 3px;
      text-align: end; }
  .question .top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column; }
    .question .top .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%; }
    .question .top .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.075); }
      .question .top .info > div {
        border-top: 1px solid rgba(0, 0, 0, 0.075);
        padding-top: 1em;
        width: 100%; }
      .question .top .info .correct {
        min-width: 12em; }
  .question .card {
    width: 100%;
    margin-bottom: 1em;
    cursor: pointer;
    background: #f9f9f9; }
    .question .card:hover {
      background-color: rgba(0, 0, 0, 0.075); }
    .question .card.evaluated:hover {
      background-color: #f9f9f9; }
    .question .card.correct {
      background: #2ecc40; }
      .question .card.correct:hover {
        background: #2ecc40; }
    .question .card.incorrect {
      background: #ff4136; }
      .question .card.incorrect:hover {
        background: #ff4136; }
    .question .card.chosen {
      background: rgba(0, 0, 0, 0.075); }
    .question .card:hover h3, .question .card.correct h3, .question .card.correct:hover h3, .question .card.incorrect h3, .question .card.incorrect:hover h3, .question .card.chosen h3, .question .card.chosen:hover h3 {
      color: #111111 !important; }
    .question .card-content {
      padding: 0.5em 0.5em 0.75em !important; }
  .question .button {
    width: 100%;
    min-height: 3em;
    margin-bottom: 1em; }
    .question .button-row {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      margin-top: 0.5em; }
  .question-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: column;
    align-items: center; }

@media (min-width: 500px) {
  .question .button {
    width: 30%;
    margin-bottom: 1em; }
    .question .button-row {
      flex-direction: row;
      justify-content: space-between; }
  .question .top .info {
    border-top: 1px solid rgba(0, 0, 0, 0.075);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    .question .top .info > div {
      padding-left: 0.5em;
      padding-right: 0.5em;
      width: calc(50% - 1em);
      border-top: none; }
    .question .top .info .description {
      border-top: 1px solid rgba(0, 0, 0, 0.075);
      padding: 1em 0 0;
      width: 100%; }
  .question-row {
    flex-direction: row;
    justify-content: space-between; } }

@media (min-width: 800px) {
  .question .top {
    flex-direction: row;
    justify-content: space-between; }
    .question .top .main {
      width: 68%; }
      .question .top .main.full {
        width: 100%; }
    .question .top .info {
      border: 0;
      padding-top: 0;
      flex-direction: column;
      justify-content: flex-start;
      width: 30%; }
      .question .top .info .top-divider {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.075);
        padding-top: 1em; } }

.tests {
  max-width: 800px;
  margin: 0 auto; }
  .tests .card {
    margin-bottom: 1em;
    cursor: pointer !important;
    background: #f9f9f9; }
    .tests .card:hover {
      background-color: rgba(0, 0, 0, 0.075); }
    .tests .card-content {
      display: flex;
      flex-direction: column;
      overflow: hidden; }
      .tests .card-content .card-text {
        display: flex;
        align-items: center;
        max-width: 100%;
        overflow: hidden; }
    .tests .card-info {
      display: flex;
      flex-direction: column; }
    .tests .card-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      overflow: hidden; }

@media (min-width: 400px) {
  .tests .card-content .card-info {
    margin-left: calc(36px + 1em);
    width: calc(100% - 36px - 1em);
    flex-direction: row;
    justify-content: space-between; } }
