.padding {
  padding: 1em !important;
  &-small {
    padding: 0.5em !important;
  }
  &-big {
    padding: 2em !important;
  }
  &-top {
    padding-top: 1em !important;
    &-small {
      padding-top: 0.5em !important;
      &-only {
        padding: 0.5em 0 0 0 !important;
      }
    }
    &-big {
      padding-top: 2em !important;
      &-only {
        padding: 2em 0 0 0 !important;
      }
    }
    &-only {
      padding: 1em 0 0 0 !important;
    }
  }
  &-right {
    padding-right: 1em !important;
    &-small {
      padding-right: 0.5em !important;
      &-only {
        padding: 0 0.5em 0 0 !important;
      }
    }
    &-big {
      padding-right: 2em !important;
      &-only {
        padding: 0 2em 0 0 !important;
      }
    }
    &-only {
      padding: 0 1em 0 0 !important;
    }
  }
  &-bottom {
    padding-bottom: 1em !important;
    &-small {
      padding-bottom: 0.5em !important;
      &-only {
        padding: 0 0 0.5em 0 !important;
      }
    }
    &-big {
      padding-bottom: 2em !important;
      &-only {
        padding: 0 0 2em 0 !important;
      }
    }
    &-only {
      padding: 0 0 1em 0 !important;
    }
  }
  &-left {
    padding-left: 1em !important;
    &-small {
      padding-left: 0.5em !important;
      &-only {
        padding: 0 0 0 0.5em !important;
      }
    }
    &-big {
      padding-left: 2em !important;
      &-only {
        padding: 0 0 0 2em !important;
      }
    }
    &-only {
      padding: 0 0 0 1em !important;
    }
  }
  &-none {
    padding: 0 !important;
  }
}
