.tests {
  max-width: 800px;
  margin: 0 auto;

  .card {
    margin-bottom: 1em;
    cursor: pointer !important;
    background: $color-white-dark;

    &:hover {
      background-color: $color-grey-light;
    }

    &-content {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .card-text {
        display: flex;
        align-items: center;
        max-width: 100%;
        overflow: hidden;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
    }

    &-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      overflow: hidden;
    }
  }
}

@media (min-width: $breakpoint-mobile) {
  .tests {
    .card {
      &-content {
        .card-info {
          margin-left: calc(36px + 1em);
          width: calc(100% - 36px - 1em);
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}
